body{
	font-family: 'Roboto', sans-serif;
	margin:0;
	color:#101920;
}

.logo{
	margin:50px;
	margin-bottom:0;
	height:200px;
}

header{
	display:flex;
	justify-content:space-between;
    flex-wrap: wrap;
}

header.panel{
    min-height:0;
}

header nav ul{
	list-style-type: none;
	padding:100px 50px 0 0;
	padding-bottom:0;
}

header nav li{
	display:inline-block;
	width:140px;
	text-align:center;
	font-size:18pt;
	line-height:36px;
	margin-left:10px;
	padding:10px;
	transition:0.3s;
}

header nav li a{
	text-decoration:none;
	color:#10192075;
	position: relative;
	transition:0.3s;
}


header nav li a:after{
	content: "";
    transform: translateZ(0);
    transition: all .5s ease;
    background-color: #10192075;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    margin: 0;
    left: 0;
}

header nav li:hover{
	cursor:pointer;
}

header nav li:hover a{
	transition:0.3s;
	color:#101920;
	padding-left:10px;
	padding-right:10px;
}

header nav li:hover a:after{
	background-color:#101920;
	cursor:pointer;
	transition:0.3s;
}

@media (max-width : 510px){
	nav ul{
		flex-direction: column;
    }
    
    footer .footer ul{
        text-align:center;
    }
}

@media (max-width : 1010px){
	header{
		justify-content: center;
	}

	header nav ul{
		padding:50px 0 25px 0;
	}

	nav ul{
		padding:0;
		margin:0;
		display:flex;
		justify-content: center;
	}
}

@media (min-width : 1320px){
	.panel{
		width:1280px;
	}

	.footer{
		width:1280px;
	}
}

.panel{
	min-height: 350px;
	margin:auto;
	padding-left:20px;
	padding-right:20px;
}

.centered{
	text-align:center;
}

.panel h2{
	width:100%;
	display:block;
	font-size:34pt;
}

.circles{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.circle-container{
	height:250px;
	width:250px;
	text-align:center;
	margin-top:25px;
}

.circle{
	height:150px;
	width:150px;
	border-radius:75px;
	background-color:#e2e2e2; 
	border: 4px solid black;
	margin: auto;
}

.circle img {
	margin-top:35px;
}


.circle-label{
	font-weight: bold;
}

.angle-holder{
	position:relative;
	overflow:hidden;
	transform: skewY(-4deg);
	border: 4px solid black;
	border-width: 4px 0;
	margin-top: 60px;
}

.parallax:before {
	box-shadow: -2px -1px 20px 0px inset black;
    content: " ";
    height: 100%;
    left: -25px;
    position: absolute;
    right: -25px;
    top: 0;
  }

/*
:after, :before {
    box-sizing: border-box;
}

.angled-top:before{
	content: "";
    position: absolute;
    top: -4px;
    right: 0;
    height: 0;
    width: 100%;
    border-left: 100vw solid #fff;
    border-top: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 7vw solid transparent;
    padding-top: 5px;
    z-index: 2;
    transition: border-bottom .3s ease;
}

.angled-bottom:after{
	content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-left: 0 solid transparent;
    border-top: 7vw solid transparent;
    border-right: 100vw solid #fff;
    border-bottom: 0 solid transparent;
    outline: 1px solid transparent;
    z-index: 1;
    transition: border-top .3s ease;
}*/

footer{
	padding:10px;
}

.footer{
	color:#101920;
	padding : 25px;
	text-align:center;
	display:flex;
	flex-wrap:wrap-reverse;
	justify-content:space-around;
	padding:10px;
	margin:auto;
}

.footer ul{
	list-style: none;
	text-align:left;
    line-height:36px;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
    margin:15px;
}

.parallax { 
    /* Set a specific height */
    height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: auto;

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.parallax {
        background-attachment: scroll;
    }
 }

.parallax--lights{
	background-image:url("/images/Lights2.svg");
	background-color:#282a43;
}

.parallax--triangles{
	background-image:url("/images/Triangles2.svg");
	background-color: #d0d9e0;
}

.parallax--circuit{
	background-image:url("/images/Circuit.jpg");
	background-color: #026c7c;
}

.parallax--weave{
	background-image:url("/images/Weave2.svg");
	background-color: #e6e6e6;
}

blockquote{
	font-style:italic;
}

figure{
	text-align:center;
}